@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}
body #SignIn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
body #Navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: darkcyan;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
body #Navbar #navButtons {
  color: white;
}
body #Navbar #navButtons .btn {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
body #Navbar p {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  padding: 5px;
  margin: 0;
  color: white;
}
body #homepage h2 {
  font-family: "Quicksand", sans-serif;
  margin: 20px;
}
body #homepage #shouts {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
body #dashboard, body #ViewProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
body #dashboard #addShout, body #ViewProfile #addShout {
  border-radius: 50px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}
body #dashboard #dashboardContent, body #ViewProfile #dashboardContent {
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  word-break: break-all;
  background: #d8d8d8;
}
body #dashboard #bio, body #ViewProfile #bio {
  text-align: center;
}
body #dashboard img, body #ViewProfile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 30px;
}
body #dashboard #editButton, body #ViewProfile #editButton {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: blue;
  margin: 0;
  padding: 0;
}
body #dashboard h2, body #ViewProfile h2 {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body #dashboard p, body #ViewProfile p {
  font-family: Arial, Helvetica, sans-serif;
}
body #dashboard .icon, body #ViewProfile .icon {
  position: relative;
  top: 6px;
}
body #dashboard #userShouts, body #ViewProfile #userShouts {
  width: 80%;
  text-align: center;
}
body #dashboard #userShouts hr, body #ViewProfile #userShouts hr {
  height: 5px;
  border: none;
  outline: none;
  background-color: black;
}
body .comment {
  text-align: left;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px;
  padding-bottom: 5px;
}
body .comment #commentHeader {
  display: flex;
  align-items: center;
}
body .comment #commentHeader p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: grey;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body .comment #commentHeader span {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: black;
  font-size: 14px;
}
body .comment #commentHeader img {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50px;
}
body .comment #commentBody {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
body .comment:first-child {
  border-top: none;
}
body .comment:last-child {
  border-bottom: none;
}
body .shout {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
body .shout #shoutAlert {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .shout #shoutAlert #shoutAlertContent {
  background: white;
  padding: 10px;
  width: 30%;
  text-align: center;
}
body .shout #shoutAlert #shoutAlertContent p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  margin: 10px;
}
body .shout #shoutHeader {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-between;
}
body .shout #shoutHeader #shoutHeaderMain {
  display: flex;
  text-align: left;
  align-items: center;
}
body .shout #shoutHeader .deleteShout {
  color: crimson;
  cursor: pointer;
}
body .shout #shoutHeader img {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  border-radius: 50px;
}
body .shout #shoutHeader p {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
body .shout #shoutHeader span {
  color: grey;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
body .shout #shoutBody {
  text-align: left;
  padding: 10px;
}
body .shout #shoutBody p {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body .shout #shoutFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
body .shout #shoutFooter p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
body .shout #Comments {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 2;
}
body .shout #Comments hr {
  height: 5px;
  border: none;
  outline: none;
  background-color: black;
}
body .shout #Comments #commentsContent {
  background-color: white;
  padding: 10px;
  width: 50%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-height: 85%;
  overflow-y: auto;
}
body .shout #Comments #commentsContent #commentInput {
  text-align: left;
}
body .shout #Comments #commentsContent #close {
  float: right;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
body #editProfile {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
body #editProfile #editForm {
  background: white;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
body #editProfile #editForm #close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
body #editProfile #editForm #fillIn {
  text-align: left;
}
body #editProfile #EditProfileAlert {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #editProfile #EditProfileAlert #alertContent {
  background-color: white;
  padding: 10px;
  width: 40%;
  text-align: center;
  border-radius: 10px;
}
body #editProfile #EditProfileAlert #alertContent span {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  float: right;
}
body #createShout {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
body #createShout #createForm {
  background: white;
  width: 50%;
  padding: 10px;
}
body #createShout #createForm #close {
  font-weight: bold;
  font-size: 20px;
  float: right;
  cursor: pointer;
}
body #createShout #createForm h4 {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body #createShout #createForm #shoutButton {
  text-align: right;
}
body .hide {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  #editForm, #createForm {
    width: 80% !important;
  }

  #dashboardContent {
    width: 90% !important;
  }

  .shout {
    width: 100% !important;
  }

  #userShouts {
    width: 100% !important;
  }

  #shoutAlertContent {
    width: 80% !important;
  }

  #commentsContent {
    width: 90% !important;
  }

  #homepage #shouts {
    width: 95% !important;
  }
}

/*# sourceMappingURL=App.css.map */
