@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$importantFont:'Quicksand', sans-serif;

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    #SignIn{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 50px;
        font-family: $importantFont;
        font-weight: 600;
    }
    #Navbar{
        display: flex;
        align-items: center;
        padding: 10px;
        background: darkcyan;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1;
        #navButtons{
            color: white;
            display: flex;
            align-items: center;
            .btn{
                margin-left: 5px;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        p{
            font-family: $importantFont;
            font-weight: 700;
            padding: 5px;
            margin: 0;
            color: white;
        }
    }
    #SearchPage{
        #searchbarContainer{
            text-align: center;
            padding: 10px;
            #searchbar{
                text-align: center;
            }
            p{
                font-family: $importantFont;
                font-weight: 500;
            }
        }
        #searchResults{
            .searchResult{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                margin-top: 20px;
                background-color: white;
                padding: 10px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                word-break: break-all;
                flex-wrap: wrap;
                border-radius: 10px;
                cursor: pointer;
                img{
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    margin-bottom: auto;
                    margin-top: auto;
                }
                p{
                    margin: 0;
                    margin-left: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    
                }
                span{
                    font-family: $importantFont;
                    font-weight: 600;
                    font-size: 22px;
                }
            }
        }
    }
    #Notifications{
        h2{
            font-family: $importantFont;
            margin: 20px;
        }
        .notification{
            display: flex;
            align-items: center;
            width: 80%;
            background-color: white;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
            p{
                margin-left: 10px;
                font-family: $importantFont;
                font-weight: 600;
                font-size: 14px;
            }
            span{
                font-size: 12px;
                color: grey;
            }
        }
        #notificationPost{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: rgb(0, 0, 0);
            background-color: rgba($color: #000000, $alpha: 0.4);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #notiPostContent{
                background: white;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
                max-height: 85%;
                border-radius: 10px;
                #close{
                    float: right;
                    font-size: 24px;
                    font-weight: 600;
                    cursor: pointer;
                }
                #notiPostHeader{
                    display: flex;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                    p{
                        margin-left: 10px;
                        color: grey;
                        font-size: 14px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    span{
                        color: black;
                        font-size: 16px;
                        font-family: $importantFont;
                        font-weight: 600;
                    }
                }
                #notiPostBody{
                    padding: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                }
                #notiPostFooter{
                    display: flex;
                    align-items: center;
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    p{
                        margin-left: 10px;
                        font-family: $importantFont;
                        color: grey;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    #homepage{
        h2{
            font-family: $importantFont;
            margin: 20px;
        }
        #shouts{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #dashboard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        #addShout{
            border-radius: 50px;
            padding: 10px;
            font-size: 24px;
            cursor: pointer;
        }
        #dashboardContent{
            border-radius: 10px;
            padding: 20px;
            width: 80%;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: center;
            word-break: break-all;
            background: rgb(216, 216, 216);
        }
        #bio{
            text-align: center;
        }
        img{
            width: 100px;
            height: 100px;
            border-radius: 50px;
            margin-bottom: 30px;
        }
        #editButton{
            text-align: right;
            font-weight: 600;
            font-size: 12px;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
            color: blue;
            margin: 0;
            padding: 0;
        }
        h2{
            margin: 0;
            padding: 0;
            font-family: $importantFont;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
        }
        .icon{
            position: relative;
            top:6px;
        }
     
        #userShouts{
            width: 80%;
            text-align: center;
            hr{
                height: 5px;
                border: none;
                outline: none;
                background-color: black;
            }
        }
    }

    #ViewProfile{
        @extend #dashboard;

    }

    .comment{
        text-align: left;
        border-top: 1px solid grey;
        border-bottom:1px solid grey;
        padding: 10px;
        padding-bottom: 5px;
        #commentHeader{
            display: flex;
            align-items: center;
            p{
                margin: 0;
                padding: 0;
                font-size: 12px;
                color: grey;
                margin-left: 10px;
                font-family: Arial, Helvetica, sans-serif;
            }
            span{
                font-family: $importantFont;
                font-weight: 600;
                color: black;
                font-size: 14px;
            }
            img{
                width: 40px;
                height: 40px;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 50px;
                cursor: pointer;
            }
        }
        #commentBody{
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .comment:first-child{
        border-top:none;
    }
    .comment:last-child{
        border-bottom: none;
    }

    .shout{
        background-color: white;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        #shoutAlert{
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba($color: #000000, $alpha: 0.4);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #shoutAlertContent{
                background: white;
                padding: 10px;
                width: 30%;
                text-align: center;
                p{
                    font-family: $importantFont;
                    font-weight: 600;
                    margin: 10px;
                }
            }
        }
        #shoutHeader{
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: space-between;
            #shoutHeaderMain{
                display: flex;
                text-align: left;
                align-items: center;
            }
            .deleteShout{
                color: crimson;
                cursor: pointer;
            }
            img{
                width: 50px ;
                height: 50px;
                margin-top: auto;
                margin-bottom: auto;
                cursor: pointer;
                border-radius: 50px;
            }
            p{
                margin: 0;
                padding: 0;
                margin-left: 10px;
                font-family: $importantFont;
                font-weight: 600;
            }
            span{
                color: grey;
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
            }
        }
        #shoutBody{
            text-align: left;
            padding: 10px;
            p{
                padding: 0;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        #shoutFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            p{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: grey;
                margin-left:10px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
        #Comments{
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba($color: #000000, $alpha: 0.4);
            width: 100%;
            height: 100%;
            z-index: 2;
            hr{
                height: 5px;
                border: none;
                outline: none;
                background-color: black;
            }
            #commentsContent{
                background-color: white;
                padding: 10px;
                width: 50%;
                text-align: right;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                max-height: 85%;
                overflow-y: auto;
                #commentInput{
                    text-align: left;
                }
                #close{
                    float: right;
                    font-size: 24px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }

    #editProfile{
        overflow: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba($color: #000000, $alpha: 0.4);
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        #editForm{
            background: white;
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 50px;
            #close{
                float: right;
                font-size: 24px;
                font-weight: bold;
                cursor: pointer;
            }
            #fillIn{
                text-align: left;
            }
        }
        #EditProfileAlert{
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            background-color: rgba($color: #000000, $alpha: 0.4);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            #alertContent{
                background-color: white;
                padding: 10px;
                width: 40%;
                text-align: center;
                border-radius: 10px;
                span{
                    font-weight: 700;
                    font-size:24px;
                    cursor: pointer;
                    float: right;
                }
            }
        }
    }

    #createShout{
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background-color: rgba($color: #000000, $alpha: 0.4);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        #createForm{
            background: white;
            width: 50%;
            padding: 10px;
            #close{
                font-weight: bold;
                font-size: 20px;
                float: right;
                cursor: pointer;
            }
            h4{
                margin: 0;
                padding: 0;
                font-family: $importantFont;
            }
            #shoutButton{
                text-align: right;
            }
        }
    }

    .hide{
        display: none !important;
    }

}

@media only screen and (max-width: 800px){
    #editForm, #createForm{
        width: 80% !important;
    }
    #dashboardContent{
        width: 90% !important;
    }
    .shout{
        width: 100% !important;
    }
    #userShouts{
        width: 100% !important;
    }
    #shoutAlertContent{
        width: 80% !important;
    }
    #commentsContent{
        width: 90% !important;
    }
    #homepage{
        #shouts{
            width: 95% !important;
        }
    }
    .notification{
        width: 95% !important;
    }
    #notiPostContent{
        width: 90% !important;
    }
    .searchResult{
        width: 95% !important;
        flex-direction: column;
        text-align: center;
        p{
            margin: 0 !important;
        }
    }
}